<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Event Planning</title>
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1><big>ABC Event Management System</big></h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="events.html">Manage Events</a>
        <a href="venues.html">Manage Venues</a>
        <a href="attendees.html">Manage Attendees</a> 
        <a href="/manage-event-attendees">Manage Event Attendees</a>
        <a href="task_definitions.html">Manage Task Definitions</a>
        <a href="task_assignments.html">Manage Task Assignments</a>
    </nav>

    <h2>Home</h2>

    <p>Welcome to the ABC Event Management System. Use the navigation links above to manage events, venues, attendees, task definitions, and task assignments.</p>
</body>
</html>
